<!-- <div *ngIf="isLoading(); else content">Loading...</div>
<ng-template #content>
  <div *ngIf="error(); else itemsList">
    <p class="error-message">Error: {{ error() }}</p>
  </div>
</ng-template>

<ng-template #itemsList>
  <ul class="item-list">
    @for (item of items(); track $index) {
    <li>
      <div class="item">
        <span>{{ item.name }}</span>
        <button (click)="deleteItem(item.id)" class="btn btn-danger">
          Delete
        </button>
        <button (click)="editItem(item)" class="btn btn-warning">Update</button>
      </div>
    </li>
    }
  </ul>

  @if (isEditing) {
  <form
    (ngSubmit)="updateItem(editingItem.id, itemForm.value)"
    #itemForm="ngForm"
    class="item-form">
    <input
      [(ngModel)]="editingItem.name"
      name="name"
      required
      placeholder="Item Name" />
    <button type="submit" class="btn btn-success">Update Item</button>
  </form>
  }@else {
  <form
    (ngSubmit)="addItem(itemForm.value)"
    #itemForm="ngForm"
    class="item-form">
    <input ngModel name="name" required placeholder="New Item Name" />
    <button type="submit" class="btn btn-primary">Add Item</button>
  </form>
  }
</ng-template> -->

<div *ngIf="isLoading(); else content"
  class="text-center text-lg font-semibold text-gray-500 my-4">
  Loading...
</div>

<ng-template #content>
  <div *ngIf="error(); else itemsList"
    class="text-center text-red-500 font-semibold my-4">
    <p class="error-message">Error: {{ error() }}</p>
  </div>
</ng-template>

<ng-template #itemsList>
  <div class="container mt-4">
    <ul class="list-group">
      <li *ngFor="let item of items(); trackBy: trackById"
        class="list-group-item d-flex justify-content-between align-items-center">
        <span class="text-xl text-gray-700">{{ item.name }}</span>
        <div class="d-flex">
          <button (click)="deleteItem(item.id)"
            class="btn btn-sm btn-outline-danger px-4 py-2 rounded-md">
            Delete
          </button>
          <button (click)="editItem(item)"
            class="btn btn-sm btn-outline-warning px-4 py-2 rounded-md ms-2">
            Update
          </button>
        </div>
      </li>
    </ul>

    <div *ngIf="isEditing" class="mt-4">
      <form (ngSubmit)="updateItem(editingItem.id, itemForm.value)"
        #itemForm="ngForm" class="row g-3">
        <div class="col-auto">
          <input [(ngModel)]="editingItem.name" name="name" required
            placeholder="Item Name"
            class="form-control" />
        </div>
        <div class="col-auto">
          <button type="submit"
            class="btn btn-outline-success px-4 py-2 rounded-md">
            Update Item
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="!isEditing" class="flex justify-center mt-4">
      <form (ngSubmit)="addItem(itemForm.value)" #itemForm="ngForm"
        class="bg-white p-4 shadow-md rounded space-y-2 max-w-xs w-full">
        <div class="form-group">
          <label for="name" class="block text-sm font-medium text-gray-700">
            New Item Name</label>
          <input ngModel name="name" required placeholder="New Item Name"
            class="form-control mt-1 block w-full" id="name" />
        </div>
        <button type="submit"
          class="btn btn-outline-primary w-full mt-3">
          Add Item
        </button>
      </form>
    </div>
  </div>
</ng-template>
